/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display:block;
}
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }


body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

body, select, input, textarea {   color: #444; }
h1,h2,h3,h4,h5,h6 { font-weight: bold; }
html { overflow-y: scroll; }

a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }

nav ul, nav li { margin: 0; } 
small { font-size: 85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align: top; } 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre {  padding: 15px;  white-space: pre;  white-space: pre-wrap;  white-space: pre-line;  word-wrap: break-word; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px;  -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red;  box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection { background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; } 
a:link { -webkit-tap-highlight-color: #FF5E99; } 

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; } 
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px);  clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after {  content: "\0020"; display: block; height: 0; visibility: hidden;	 }

.clearfix:before, .clearfix:after {  content: "\0020"; display: block; height: 0; visibility: hidden;	 } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* **************************************************************** */
/* ************************* POSTERITY **************************** */
/* **************************************************************** */

/* @group Posterity basic structure */

body {
	background: url(/images/posterity/background.png) repeat-x #E5E5E5;
	font-family: Tahoma, Arial, Helvetica;
}

.container, 
footer {
	width: 920px;
	margin: 20px auto 0 auto;
}

#main .container {	
	margin: 0 auto;
	padding: 20px 30px;
	background: #FAFAFA;
}

.left { float:left; }
.right { float:right; }

/* @end */


/* @group Headings and paragraphs */
	h1 {
		font-size:40px;
		font-weight: normal;
		border-bottom: 1px solid #CCC;
		padding: 0 0 10px 0;
		margin: 0 0 20px 0;
	}

	h2 {
		font-size: 24px;
	}

	h1, h2, h3, h4, h5 {
		font-weight: normal;
	}

	h1 a, h2 a, h3 a, h4 a, h5 a {
		text-decoration: none;
	}

	p {
		margin: 0 0 15px 0;
	}
/* @end */

/* @group Authentication */
	#login {
		width: 400px;
		margin: 50px auto;
	}

	#login #logo {
		margin-bottom: 30px;
	}

	#login .input.string input, #login .input.password input {
		width: 400px;
	}

	#login .forgot_password {
		margin-top:6px;
	}
/* @end */

/* @group Flash messages */
	.flash {
		margin: 10px 0;
	}

	.flash .notice {
		border: 1px solid #AEA;
		background: #DFD;
		padding: 10px 20px;
		color: #363;	
	
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}

	.flash .alert {
		border: 1px solid #EAA;
		background: #FDD;
		padding: 10px 20px;
		color: #633;	
	
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
/* @end */

/* @group Header */
	header .container {
		width: 980px;
		display: block;
		padding: 0 0 20px 0;
		background: url(/images/posterity/header_background.png) no-repeat left bottom;
	}
	
	#logo {
		font-size: 44px;
	}

	#logo .after {
		position:relative;
		bottom: 8px;
		left: 10px;
		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;
	}

	header #logo {
		margin-left: 30px;
	}

	header nav {
		padding-top: 0;
		padding-right: 30px;
		float:right;
		font-size: 12px;
		text-align:right;
		height: 48px;
		width: 500px;
	}

	header nav .avatar {
		float:right;
		margin-left: 20px;
		width: 48px;
	}

	header nav .greeting {
		padding-top: 8px;
		font-size: 12px;
		font-weight: bold;
		display:block;
	}

	header nav .greeting a {
		font-size: 12px;
	}

	header nav a {
		font-size: 16px;
	}

	#logo a {
		text-decoration: none;
		color: #555;
		text-shadow: 0px 1px 0px #FFF;
		filter: dropshadow(color=#ffffff,offX=0,offY=1);
	}
/* @end */

/* @group Footer */
	footer {
		font-size: 11px;
		color: #111;
		padding-bottom: 30px;
		width: 980px;
		margin: 0 auto;
		padding-top: 50px;
		background: url(/images/posterity/footer_background.png) no-repeat left top;
	}
/* @end */


/* @group Forms */
	label {
		display: block;
		font-weight: bold;
	}

	form div {
		margin: 20px 0;
	}

	.input.text textarea, .input.string input, .input.password input {
		width: 670px;
		border: 1px solid #888;
		font-size: 24px;
		padding: 4px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
/* @end */

/* @group Attachments */
	.image_attachment {
		display:block;
		padding: 5px;
		border: 1px solid #999;
		background: url(/images/posterity/attachment_background.png) repeat-x #AEAEAE;
		height: 77px;
		margin-bottom: 5px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
	
	.image_attachment .image {
		border: 1px solid #999;
		height: 75px;
		width: 75px;
		float: left;
		margin-right: 10px;
		background: url(/images/posterity/activity.gif) no-repeat 50% 50% #EEE;
	}
	
	.image_attachment .actions {
		float:left;
		font-size: 11px;
		font-weight: bold;
		width: 75px;
	}
/* @end */

/* @group Buttons */
	.button {
		color: #FFF;
		height: 30px;
		font-size: 11px;
		line-height: 30px;
		font-weight: bold;
		text-transform: uppercase;
		text-shadow: 0px -1px 0px #333;
		filter: dropshadow(color=#333333,offX=0,offY=-1);
		background: url(/images/posterity/button_sprite.png) repeat-x #555;
		border: 0;
		padding: 0 20px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}

	a.button {
		padding: 7px 20px;
		text-decoration:none;
		color: #FFF;
	}

	a.button:hover { background: url(/images/posterity/button_sprite.png) repeat-x 0px -30px #555;}
	.button.red { background: url(/images/posterity/button_sprite.png) repeat-x #F33; }
	a.button.red:hover { background: url(/images/posterity/button_sprite.png) repeat-x 0px -30px #F33;}
	.button.blue { background: url(/images/posterity/button_sprite.png) repeat-x #55F; }
	a.button.blue:hover { background: url(/images/posterity/button_sprite.png) repeat-x 0px -30px #55F;}
	.button.green { background: url(/images/posterity/button_sprite.png) repeat-x #393; }
	a.button.green:hover { background: url(/images/posterity/button_sprite.png) repeat-x 0px -30px #393;}
/* @end */

/* @group Posts */
	.post {
		padding: 0 0 10px 0;
	}

	.post .byline {
		font-size: 11px;
		margin: 0 0 20px 0;
	}
/* @end */

/* @group Tags */
	.tags {
		margin: 20px 0 10px 0;
	}

	.tags .tag {
		color: #FFF;
		padding: 0;
		margin-right: 5px;
		display: inline;
	}

	.tags .tag a {
		background: #DDD;
		border: 1px solid #999;
		padding: 2px 8px;
		color: #555;
		font-size: 10px;
		text-decoration: none;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		display: block;
		float:left;
		margin: 0 5px 5px 0;
	}

	.tags .tag a:hover {
		background: #CCC;
	}
	
	.tags .tag.removable a:hover {
		background: url(/images/posterity/cross_tiny.png) #EEE no-repeat 4px 4px;
	}
	
	.tags .tag.removable a {
		background: url(/images/posterity/cross_tiny.png) #DDD no-repeat 4px 4px;
		padding-left: 15px;
	}

	.tag_1 { font-size: 11px; }
	.tag_2 { font-size: 12px; }
	.tag_3 { font-size: 18px; }
	.tag_4 { font-size: 22px; }
/* @end */

/* @group Sidebar */

aside { }

	aside .widget {
		border-top: 1px solid #CCC;
		margin: 10px 0 0 0;
		padding: 20px 0;
		position: relative;
	}

	aside .button {
		width: 220px;
		display:block;
		
		text-align: center;
	}
	
	aside a.button {
		height: 16px;
		width: 180px;
	}

	aside .widget.first {
		margin: 59px 0 0 0;
	}

	aside .widget ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	aside .widget ul li {
		padding: 0;
		margin: 0;
	}

	aside .widget h2 {
		margin-bottom: 10px;
	}

	aside .widget form div {
		margin: 0;
	}

	aside .widget .input {
		float: left;
	}
	
	aside .widget .input.file {
		position: relative;
		top: 0px;
		left: 0px;
	} 

	aside .widget label {
		display: none;
	}

	aside .widget input.text, aside .widget .input.string input {
		width: 210px;
	}
	
	aside .widget input.text, aside .widget.search .input.string input {
		width: 160px;
		padding-right: 10px;
	}

	aside .widget.search input.button {
		position:relative;
		right: 5px;
		width: 40px;
		height: 38px;
		float:left;
		background: #777;
		font-size: 24px;
		padding-left:17px;
	}

	aside .widget .stat {
		display:block;
		text-transform:uppercase;
	}

	aside .widget .stat h2 {
		display:inline;
	}
	
/* @end */


/* @group Pagination */
	.page_details {
		margin-bottom:20px;
	}

	.pagination .disabled, .pagination .current, .pagination a {
		color: #333;
		background: #EEE;
		border: 1px solid #999;
		padding: 2px 6px;
		text-decoration: none;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
	}

	.pagination .disabled {
		color: #CCC;
		display:none;
	}

	.pagination a {
		color: #333;
		background: #CCC;
	}
/* @end */

/* @group Grid/column layouty stuffs */
	.columns { width: 920px; }

	.columns .col { float: left; margin-right:10px; display: inline-block; }
	.columns .col.last { margin: 0; }

	.columns.one .col.span_1, 
	.columns.one .col			{ width: 920px; }

	.columns.two .col.span_1, 
	.columns.two .col			{ width: 450px; }
	.columns.two .col.span_2	{ width: 920px; }

	.columns.three .col.span_1, 
	.columns.three .col			 { width: 296px; }
	.columns.three .col.span_2	 { width: 602px; }
	.columns.three .col.span_3	 { width: 920px; }

	.columns.four .col.span_1, 
	.columns.four .col			 	{ width: 220px; }
	.columns.four .col.span_2		{ width: 450px; }
	.columns.four .col.span_3		{ width: 680px; }
	.columns.four .col.span_4		{ width: 920px; }
/* @end */

/* @group Tables */
	th {
		padding: 6px 10px;
		text-align: left;
		border-bottom: 1px solid #CCC;
	}

	table {
		border-bottom: 1px solid #CCC;
	}

	td {
		padding: 6px 10px;
	}

	tr.odd {
		background: #EEE;
	}

	th.actions, td.actions {
		text-align:right;
		font-size:12px;
	}

	td.actions a {
		background: #DDD;
		border: 1px solid #999;
		padding: 2px 8px;
		color: #999;
		font-size: 10px;
		font-weight:bold;
		text-transform:uppercase;
		text-decoration: none;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		text-shadow: 0px 1px 0px #FFF;
		filter: dropshadow(color=#FFFFFF,offX=0,offY=1);
	}

	td.actions a:hover {
		background: #DFD;
		border: 1px solid #999;
		color: #999;
	}

	td.actions a.delete:hover {
		background: #FDD;
	}
/* @end */

@media all and (orientation:portrait) { 
  
}

@media all and (orientation:landscape) { 
  
}

@media screen and (max-device-width: 480px) {
  
  
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }  
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

